<!DOCTYPE html>
<html lang="en">
<!-- Create a registration form for a college event containing fname, lname, gender, class, dept, type of event, contact, email . Apply validations(maximum possible), on button click display all data accepted from the user in a proper format in Angularjs 1.7.8 -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script>
  var app = angular.module("myApp", []);
  app.controller("myCtrl", function ($scope) {
    $scope.studentArray = [];
    $scope.divStyle = {
      visibility: 'unset'
    };
    $scope.event = {
    };
    $scope.opStyle = {
      visibility: 'hidden',
    };
    $scope.print = () => {
      $scope.divStyle.visibility = 'hidden';
      $scope.opStyle.visibility = 'unset';
    };
  });
</script>

<head>
  <title>Valorant Competition</title>
</head>

<body ng-app="myApp" ng-submit="print()">
  <div ng-controller="myCtrl">
    <h1>Valorant Competition</h1>
    <h3>Register Yourself</h3>
    <form ng-submit="print()">
      <div ng-style="divStyle">
        <table>
          <tr>
            <td>First Name</td>
            <td>
              <input type="text" name="firstName" id="fName" ng-model="event.fname" />
            </td>
          </tr>
          <tr>
            <td>Last Name</td>
            <td>
              <input type="text" name="lastName" id="lName" ng-model="event.lname" />
            </td>
          </tr>
          <tr>
            <td>Gender</td>
            <td>
              Male <input type="radio" name="gender" id="male" value="Male" ng-model="event.gender"> Female <input type="radio" name="gender" id="female" value="Female" ng-model="event.gender">
            </td>
          </tr>
          <tr>
            <td>Department</td>
            <td>
              <select name="select" id="dept" ng-model="event.dept">
                <option ng-repeat="x in dept"></option>
              </select>
            </td>
          </tr>
          {
            MCA:[]
          }
          <tr>
            <td>Class</td>
            <td>
              <select name="select" id="class" ng-model="event.class">
                <option ng-repeat="x in dept.find((ele)=> ele===event.dept)" ></option>
              </select>            </td>
          </tr>
          <tr>
            <td>Type Of Event</td>
            <td>
              <input type="text" name="type" id="type" ng-model="event.type" />
            </td>
          </tr>
          <tr>
            <td>Contact No</td>
            <td>
              <input type="text" name="contact" id="contact" ng-model="event.contact" />
            </td>
          </tr>
          <tr>
            <td>Email</td>
            <td>
              <input type="email" name="email" id="email" ng-model="event.email" />
            </td>
          </tr>
          <tr>
            <td></td>
            <td><input type="submit" value="Submit" ng-click="print()"></td>
          </tr>
        </table>
    </form>
  </div>
  <div ng-style="opStyle">
    <table>
      <tr>
        <td>First Name</td>
        <td>
          {{event.fname}}
        </td>
      </tr>
      <tr>
        <td>Last Name</td>
        <td>
          {{event.lname}}
        </td>
      </tr>
      <tr>
        <td>Gender</td>
        <td>
          {{event.gender}}
        </td>
      </tr>
      <tr>
        <td>Class</td>
        <td>
          {{event.class}}
        </td>
      </tr>
      <tr>
        <td>Department</td>
        <td>
          {{event.dept}}
        </td>
      </tr>
      <tr>
        <td>Type Of Event</td>
        <td>
          {{event.type}}
        </td>
      </tr>
      <tr>
        <td>Contact No</td>
        <td>
          {{event.contact}}
        </td>
      </tr>
      <tr>
        <td>Email</td>
        <td>
          {{event.email}}
        </td>
      </tr>
    </table>
  </div>
  </div>
</body>

</html>